* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  border-radius: 9px 0px 0px 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transform: scale(0.5);
}

.modal-content.modal.active {
  transform: scale(1);
}

.nav_list {
  list-style: none;
}
.nav_item {
  position: relative;
  margin-left: 35px;
}
.nav_link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}
.nav_link:hover {
  color: #FAFAFA;
}
.nav_active {
  color: #FAFAFA;
}
.nav_active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
  top: 23px;
  left: 0;
}

.header {
  width: 100%;
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.nav {
  width: 100%;
  position: relative;
  z-index: 250;
}

.nav .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.links {
  margin-left: auto;
}

.nav_list {
  display: flex;
}

.nav_link {
  display: inline-block;
}

@media (max-width: 767px) {
  .nav .container {
    transition: 0.5s;
  }

  .nav.open .container {
    justify-content: flex-end;
  }

  .links {
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #292929;
    display: flex;
    padding-top: 248px;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav_item {
    margin-left: 0;
  }

  .logo {
    margin-right: 33px;
    z-index: 300;
  }

  .nav_list {
    flex-direction: column;
  }

  .nav_link {
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }

  .nav_active::after {
    top: 45px;
  }

  .burger_menu {
    width: 30px;
    height: 22px;
    z-index: 100;
    position: relative;
    margin-right: 43px;
    padding: 10px;
    cursor: pointer;
  }

  .burger_menu .line {
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
  }

  .line::before,
  .line::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
    transition: 0.5s;
  }

  .line::before {
    transform: translateY(-10px);
  }

  .line::after {
    transform: translateY(10px);
  }

  .nav.open .burger_menu .line {
    transform: translateY(0) rotate(90deg);
  }

  .nav.open .links {
    transform: translateX(0);
  }
}
.burger-menu-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 70;
  display: block;
  background: rgba(41, 41, 41, 0.6);
}

.hero {
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}
.hero_container {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: -140px;
}
.hero_content {
  padding-top: 163px;
}
.hero_title {
  width: 310px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}
.hero_text {
  margin-top: 42px;
  margin-bottom: 60px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.hero_link-button {
  padding: 15px 45px;
  background: #F1CDB3;
  color: #292929;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  transition: .3s;
}
.hero_link-button:hover {
  background: #FDDCC4;
}
.hero_img {
  width: 698px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero_container {
    display: flex;
    flex-direction: column;
    padding-top: 140px;
  }
  .hero_content {
    padding-top: 60px;
    margin-left: 124px;
    margin-right: 124px;
  }
  .hero_link {
    text-align: center;
    margin-top: 57px;
    margin-bottom: 115px;
  }
  .hero_img {
    width: 569px;
    margin-left: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero_container {
    display: flex;
    flex-direction: column;
  }
  .hero_content {
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }
  .hero_title {
    margin: 0 auto;
    width: 260px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  .hero_text {
    width: 300px;
    text-align: center;
  }
  .hero_link {
    text-align: center;
  }
  .hero_img {
    width: 260px;
    margin-top: 118px;
    margin-left: auto;
  }
}
.about_container {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 215px;
  padding-right: 175px;
}
.about_content {
  margin-left: 120px;
}
.about_title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 370px;
}
.about_text {
  margin-top: 25px;
  width: 430px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about_container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0 auto;
  }
  .about_img {
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .about_content {
    margin: 0;
  }
  .about_title {
    margin-top: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 38px 0;
  }
  .about_img {
    width: 260px;
    margin-top: 42px;
  }
  .about_content {
    text-align: center;
    width: 300px;
    margin-left: 0;
  }
  .about_title {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 25px;
    width: 300px;
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  .about_text {
    width: 270px;
    margin: 0;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
  }
}
.pets {
  background: #F6F6F6;
}
.pets_container {
  padding-bottom: 100px;
}
.pets_title {
  padding-top: 80px;
  padding-bottom: 60px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets_slider {
  display: flex;
  align-items: center;
}
.pets_button-left {
  margin-right: 53px;
  background-color: transparent;
}
.pets_card {
  width: 270px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.pets_card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
  border-radius: 9px;
}
.pets_subtitle {
  padding: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #545454;
}
.pets_button-secondary {
  border: 2px solid #F1CDB3;
  margin-left: 41.5px;
  margin-right: 41.5px;
  background-color: transparent;
  transition: 0.3s;
}
.pets_card:hover .pets_button-secondary {
  background-color: #FDDCC4;
  border: 2px solid transparent;
}
.pets_button-right {
  top: 0;
  background-color: transparent;
  margin-left: 53px;
  transition: 0.3s;
}
.pets_link-button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  margin: 58px auto 0 auto;
  padding: 15px 45px;
  background: #F1CDB3;
  color: #292929;
  text-decoration: none;
  border-radius: 100px;
  transition: 0.3s;
}
.pets_link-button:hover {
  background: #FDDCC4;
}

.icon-arrow {
  height: 6px;
  fill: #292929;
}

.button-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.button-slider:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets_button-left {
    margin-right: 12px;
  }
  .pets_slider {
    justify-content: center;
    align-items: center;
  }
  .pets_button-right {
    margin-left: 12px;
  }
  .pets_link-button {
    margin: 60px auto 0 auto;
  }

  .card-none {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets_container {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .pets_title {
    text-align: center;
    width: 300px;
    font-size: 25px;
    margin-bottom: 42px;
    padding: 0;
  }
  .pets_slider {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    width: 270px;
  }
  .pets_button-left {
    order: 2;
    margin-top: 20px;
    margin-left: 35px;
  }
  .pets_button-right {
    order: 3;
    margin-top: 20px;
    margin-left: 48px;
  }
  .pets_link-button {
    margin-top: 42px;
  }

  .card-none {
    display: none;
  }

  .card-none-two {
    display: none;
  }
}
.pets_slider {
  display: flex;
  align-items: center;
}

.carousel_container {
  width: 990px;
  overflow: hidden;
}

.carousel {
  position: relative;
  left: -990px;
  display: flex;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  gap: 90px;
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

.hidden {
  display: none;
}

.help {
  margin-bottom: 100px;
}
.help_title {
  padding-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help_container {
  padding-left: 47px;
  padding-right: 47px;
}
.help_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}
.help_item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.help_icon {
  width: 60px;
  height: 60px;
}
.help_title-item {
  margin-top: 30px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .help_container {
    padding-left: 39px;
    padding-right: 39px;
  }
  .help_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px 60px;
  }
  .help_item {
    margin-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .help {
    margin-bottom: 42px;
  }
  .help_container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .help_title {
    padding-top: 38px;
    margin-bottom: 42px;
    font-size: 25px;
  }
  .help_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .help_icon {
    width: 50px;
    height: 50px;
  }
  .help_title-item {
    margin-top: 20px;
    font-size: 15px;
  }
}
.donation {
  background-color: #F6F6F6;
}
.donation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.donation_image {
  margin-right: 30px;
}
.donation_title {
  width: 300px;
  margin-bottom: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation_subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  color: #545454;
}
.donation_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
  width: 351px;
  transition: .3s;
}
.donation_link:hover {
  background-color: #FDDCC4;
}
.donation_icon {
  width: 30px;
  height: 23px;
  margin-right: 15px;
}
.donation_number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation_text {
  margin-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  width: 380px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .donation_container {
    flex-direction: column-reverse;
  }
  .donation_content {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donation_container {
    flex-direction: column-reverse;
    padding-bottom: 38px;
    padding-top: 42px;
  }
  .donation_image {
    width: 260px;
    margin-right: 0;
  }
  .donation_content {
    margin-bottom: 42px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .donation_title {
    display: block;
    text-align: center;
    width: 300px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .donation_subtitle {
    text-align: center;
    line-height: 160%;
    letter-spacing: normal;
  }
  .donation_link {
    width: 281px;
    margin-left: auto;
    margin-right: auto;
  }
  .donation_number {
    font-size: 15px;
  }
  .donation_text {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}
.logo {
  cursor: pointer;
}
.logo_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo_subtitle {
  margin-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header_logo {
  text-decoration: none;
}

.button {
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
}

.header_container {
  padding-top: 60px;
  background: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header_container {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header_container {
    padding-top: 30px;
  }
}
.footer {
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer_contacts-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer_contacts {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px;
  height: 250px;
}
.footer_div {
  display: flex;
  align-items: center;
}
.footer_email-icon {
  margin-right: 20px;
  width: 40px;
  height: 32px;
}
.footer_tel-icon {
  margin-right: 20px;
  width: 40px;
  height: 32px;
}
.footer_link {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}
.footer_locations {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
  height: 250px;
}
.footer_locations-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer_map {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer_map-icon {
  width: 22px;
  height: 32px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer_content {
    width: 708px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .footer_contacts {
    padding-top: 0;
    text-align: center;
    margin-bottom: 40px;
    height: 208px;
    justify-content: flex-start;
  }
  .footer_contacts-title {
    font-size: 25px;
  }
  .footer_locations {
    padding: 0;
    padding-bottom: 0;
    justify-content: flex-start;
    padding-bottom: 40px;
    height: 222px;
  }
  .footer_locations-title {
    font-size: 25px;
    width: 270px;
  }
  .footer_div-one {
    margin-left: 32px;
  }
  .footer_div {
    margin-top: 40px;
  }
  .footer_img {
    padding-top: 45px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=main.css.map */
