* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  border-radius: 9px 0px 0px 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transform: scale(0.5);
}

.modal-content.modal.active {
  transform: scale(1);
}

.nav_list {
  list-style: none;
}
.nav_item {
  position: relative;
  margin-left: 35px;
}
.nav_link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}
.nav_link:hover {
  color: #FAFAFA;
}
.nav_active {
  color: #FAFAFA;
}
.nav_active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
  top: 23px;
  left: 0;
}

.header {
  width: 100%;
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.nav {
  width: 100%;
  position: relative;
  z-index: 250;
}

.nav .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.links {
  margin-left: auto;
}

.nav_list {
  display: flex;
}

.nav_link {
  display: inline-block;
}

@media (max-width: 767px) {
  .nav .container {
    transition: 0.5s;
  }

  .nav.open .container {
    justify-content: flex-end;
  }

  .links {
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #292929;
    display: flex;
    padding-top: 248px;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav_item {
    margin-left: 0;
  }

  .logo {
    margin-right: 33px;
    z-index: 300;
  }

  .nav_list {
    flex-direction: column;
  }

  .nav_link {
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }

  .nav_active::after {
    top: 45px;
  }

  .burger_menu {
    width: 30px;
    height: 22px;
    z-index: 100;
    position: relative;
    margin-right: 43px;
    padding: 10px;
    cursor: pointer;
  }

  .burger_menu .line {
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
  }

  .line::before,
  .line::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
    transition: 0.5s;
  }

  .line::before {
    transform: translateY(-10px);
  }

  .line::after {
    transform: translateY(10px);
  }

  .nav.open .burger_menu .line {
    transform: translateY(0) rotate(90deg);
  }

  .nav.open .links {
    transform: translateX(0);
  }
}
.burger-menu-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 70;
  display: block;
  background: rgba(41, 41, 41, 0.6);
}

.logo {
  cursor: pointer;
}
.logo_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo_subtitle {
  margin-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header_logo {
  text-decoration: none;
}

.button {
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
}

.main {
  background-color: #F6F6F6;
}

.pets {
  background-color: #F6F6F6;
}
.pets_title {
  padding-top: 200px;
  padding-bottom: 43px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 40px;
  padding: 15px 0;
  background-color: #f6f6f6;
}
.pets_card {
  width: 270px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.pets_card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
  border-radius: 9px;
}
.pets_card:hover .pets_button-secondary {
  background-color: #FDDCC4;
  border: 2px solid transparent;
}
.pets_subtitle {
  padding: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.pets_button-secondary {
  border: 2px solid #F1CDB3;
  margin-left: 41.5px;
  margin-right: 41.5px;
  background-color: transparent;
  transition: 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets_title {
    padding-top: 200px;
    padding-bottom: 6px;
  }
  .pets_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
    width: 708px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .pets_card {
    width: 270px;
  }

  .card-none {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets_title {
    font-size: 25px;
    padding-top: 162px;
    width: 300px;
  }
  .pets_gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .none {
    display: none;
  }
}
.pets_pagination-div {
  margin-top: 45px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.pets_pagination-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.button-1,
.button-2 {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.button-3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.button-4,
.button-5 {
  color: #292929;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets_pagination-div {
    margin-top: 20px;
    padding-bottom: 75px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pets_pagination-div {
    padding-bottom: 42px;
  }
  .pets_pagination-button {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.header_container {
  padding-top: 60px;
  background: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header_container {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header_container {
    padding-top: 30px;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.header_container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo_title {
  color: #545454;
}
.logo_subtitle {
  color: #292929;
}

.nav_item {
  position: relative;
}
.nav_link {
  color: #545454;
}
.nav_active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
  top: 23px;
  left: 0;
}
.nav_active {
  color: #292929;
}
.nav_link:hover {
  color: #292929;
}

@media (max-width: 767px) {
  .burger_menu .line,
  .line::after,
  .line::before {
    background-color: #292929;
  }

  .links {
    background-color: #FFFFFF;
    transition: 0.5s;
  }

  .nav_active::after {
    top: 45px;
  }
}
.footer {
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer_contacts-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer_contacts {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px;
  height: 250px;
}
.footer_div {
  display: flex;
  align-items: center;
}
.footer_email-icon {
  margin-right: 20px;
  width: 40px;
  height: 32px;
}
.footer_tel-icon {
  margin-right: 20px;
  width: 40px;
  height: 32px;
}
.footer_link {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}
.footer_locations {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
  height: 250px;
}
.footer_locations-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer_map {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer_map-icon {
  width: 22px;
  height: 32px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer_content {
    width: 708px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .footer_contacts {
    padding-top: 0;
    text-align: center;
    margin-bottom: 40px;
    height: 208px;
    justify-content: flex-start;
  }
  .footer_contacts-title {
    font-size: 25px;
  }
  .footer_locations {
    padding: 0;
    padding-bottom: 0;
    justify-content: flex-start;
    padding-bottom: 40px;
    height: 222px;
  }
  .footer_locations-title {
    font-size: 25px;
    width: 270px;
  }
  .footer_div-one {
    margin-left: 32px;
  }
  .footer_div {
    margin-top: 40px;
  }
  .footer_img {
    padding-top: 45px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=pets.css.map */
