.nav {
  &_list {
    // display: flex;
    list-style: none;
  }

  &_item {
    position: relative;
    margin-left: 35px;
  }

  &_link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
    text-decoration: none;
  }

  &_link:hover {
    color: $color-light-s;
  }

  &_active {
    color: $color-light-s;
  }

  &_active::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: $color-primary;
    top: 23px;
    left: 0;
  }
}
