.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // opacity: 0;
  // opacity: 1;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: $color-light-s;
  border-radius: 9px 0px 0px 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transform: scale(0.5);
}

.modal-content.modal.active {
  transform: scale(1);
}
